div{
	@include colors($color1, $color2);
	@include center();
	padding: 25px 45px;

	*{
		text-align: center;
	}

	h1{
		@include font($font1, 800, 30px);
		color: blue;
	}

	p{
		@include font($font1, 300, 20px);
	}
}
